*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    margin-left: 20px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: #00f2fe;
}
.hero{
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.hero h1{
   font-size: 3rem;
}
.hero p{
    margin: 15px 0;
    font-size: 1.2rem;
}
.hero button{
    padding: 12px 25px;
    background:white;
    color:#0077ff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.hero button:hover{
    background:#eee;
    transform: scale(1.1);
}
.about{
    padding: 50px 25px;
    text-align: center;
}
.about h2{
    margin-bottom: 15px;
}
.skills{
    background-color: #f4f4f4;
    padding: 50px 25px;
    text-align: center;
}
.skills ul{
    list-style: none;
    margin-top: 20px;
}
.skills li{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #0077ff;
    color: white;
    border-radius: 20px;
    transition:0.3;
}
.skills li:hover{
    transform:translateY(-5px);
}

footer{
    background: #111;
    text-align: center;
    color: white;
    padding: 20px;
}

@media (max-width: 768px) {

  nav {
    flex-direction: column;
    padding: 15px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .profile-pic {
    width: 110px;
    height: 110px;
  }

  .skills li {
    display: block;
    margin: 10px auto;
    width: 60%;
  }

}
